%table.table.table-condensed{:style => "border-bottom: 2px black solid;"}
  %tbody
    %tr.danger
      %td{:colspan => "4"}
        %h5
          Você deve comprovar abaixo, no mínimo,
          %em
            %b #{table_info[:workload]} horas
          de atividades em disciplinas básicas de Engenharia.
      %td.text-danger{:colspan => "2"}
        %h5
          Total:
          %span.m-l
            %b 20h
    %tr.black
      %th{:style => "width:25%"} Disciplinas Univesp
      %th{:style => "width:40%"} Disciplina cursada em outra instituição
      %th{:style => "width:10%"} Carga Horária
      %th{:style => "width:10%"} Anexar Ementa
      %th{:style => "width:10%"} Anexar Programa
      %th
    - table_info[:activities].each do |activity|
      %tr.activities-rows
        %td
          %input.form-control.activities-ids{:type => "hidden", :value => "#{activity[:value]}"}/
          = activity[:text]
        %td
          %input.form-control.external-activities{:type => "text"}/
        %td
          %input.form-control.external-workload{:type => "number"}/
        %td.cells-syllabus
          .image-upload
            %label.btn.btn-default{:for => "#{table_info[:type]}-syllabus-#{activity[:value]}_file_1"}
              %span.fa.fa-paperclip
              %span.label-upload ementa
        %td.cells-program
          .image-upload
            %label.btn.btn-default{:for => "#{table_info[:type]}-program-#{activity[:value]}_file_1"}
              %span.fa.fa-paperclip
              %span.label-upload programa
        %td
          %input.clear-row{:type => "button", :value => "X", :onclick => "clearRow(this);"}/

:javascript

  $(".activities-rows").each(function(index, ctrl) {
    var labelSyllabusFor = $(this).find(".cells-syllabus label").prop("for");

    // ensures that the control for syllabus will not be created twice
    if (!($("input#" + labelSyllabusFor).length)) {
      var labelSyllabusName = labelSyllabusFor.replace("_file_1","");
      V.uploader.draw($("label[for=\"" + labelSyllabusFor + "\"]"), labelSyllabusName, 1, 1, 1);
    }

    // ensures that the control for program will not be created twice
    var labelProgramFor = $(this).find(".cells-program label").prop("for");
    if (!($("input#" + labelProgramFor).length)) {
      var labelProgramName = labelProgramFor.replace("_file_1","");
      V.uploader.draw($("label[for=\"" + labelProgramFor + "\"]"), labelProgramName, 1, 1, 1);
    }
  });

  $(".activities-rows input").on("blur", function() {
    blurTr($(this).closest("tr"));
  });
