%table.table.table-condensed{:style => "border-bottom: 2px black solid;"}
  %tbody
    %tr.table-info.danger
      %td{:colspan => "4"}
        %input.table-min-workload{:type => "hidden", :value => "#{table_info[:workload]}"}
        %h5
          Você deve comprovar abaixo, no mínimo,
          %em
            %b #{table_info[:workload]} horas
          de atividades em disciplinas básicas de Engenharia.
      %td.table-workload.text-danger{:colspan => "2"}
        %h5
          Total:
          %span.m-l
          %b.workload-total
    %tr.black
      %th{:style => "width:25%"} Disciplinas Univesp
      %th{:style => "width:40%"} Disciplina cursada em outra instituição
      %th{:style => "width:10%"} Carga Horária
      %th{:style => "width:10%"} Anexar Ementa
      %th{:style => "width:10%"} Anexar Programa
      %th
    - table_info[:activities].each do |activity|
      %tr.activities-rows
        - activity_temp = session_activity table_info, activity[:value]
        %td
          %input.form-control.activities-ids{:type => "hidden", :value => "#{activity[:value]}"}/
          = activity[:text]
        %td
          %input.form-control.external-activities{:type => "text", :value => "#{activity_temp && activity_temp['externalActivities']}" }/
        %td
          %input.form-control.external-workload{:type => "number", :value => "#{activity_temp && activity_temp['externalWorkload']}"}/
        %td.cells-syllabus
          %input.form-control.session-attach-syllabus{:type => "hidden", :value => "#{activity_temp && activity_temp['syllabus']}"}/
          .image-upload
            %label.btn.btn-default{:for => "#{table_info[:type]}-syllabus-#{activity[:value]}_file_1"}
              %span.fa.fa-paperclip
              %span.label-upload ementa
        %td.cells-program
          %input.form-control.session-attach-program{:type => "hidden", :value => "#{activity_temp && activity_temp['program']}"}/
          .image-upload
            %label.btn.btn-default{:for => "#{table_info[:type]}-program-#{activity[:value]}_file_1"}
              %span.fa.fa-paperclip
              %span.label-upload programa
        %td
          %input.clear-row{:type => "button", :value => "X", :onclick => "clearRow(this);"}/

:javascript

  $(".activities-rows").each(function(index, ctrl) {
    var labelSyllabusFor = $(this).find(".cells-syllabus label").prop("for");

    // SYLLABUS

    // ensures that the control for syllabus will not be created twice
    if (!($("input#" + labelSyllabusFor).length)) {
      var labelSyllabusName = labelSyllabusFor.replace("_file_1","");
      V.uploader.draw($("label[for=\"" + labelSyllabusFor + "\"]"), labelSyllabusName, 1, 1, 1);
    }
    // transfering the value of attach from session hidden input to "official" hidden input
    var ctrlSessionAttachSyllabus = $($(this).find(".session-attach-syllabus")[0]);
    var hiddenSyllabusId = labelSyllabusFor.replace("_file_1","_hidden_1");
    $("#" + hiddenSyllabusId).val($(ctrlSessionAttachSyllabus).val());
    //$(ctrlSessionAttachSyllabus).val("");


    // PROGRAM

    // ensures that the control for program will not be created twice
    var labelProgramFor = $(this).find(".cells-program label").prop("for");
    if (!($("input#" + labelProgramFor).length)) {
      var labelProgramName = labelProgramFor.replace("_file_1","");
      V.uploader.draw($("label[for=\"" + labelProgramFor + "\"]"), labelProgramName, 1, 1, 1);
    }
    // transfering the value of attach from session hidden input to "official" hidden input
    var ctrlSessionAttachProgram = $($(this).find(".session-attach-program")[0])
    var hiddenProgramId = labelProgramFor.replace("_file_1","_hidden_1");
    $("#" + hiddenProgramId).val($(ctrlSessionAttachProgram).val());
    //$(ctrlSessionAttachProgram).val("");

    blurTr($(this));
  });

  $(".activities-rows input").on("blur", function() {
    blurTr($(this).closest("tr"));
  });

  function blurWorkload(wrapper) {
    var workloadTotal = 0;
    $("#" + wrapper).find(".external-workload").each(function(index, ctrl) {
      if ($(ctrl).val().trim().length) {
        workloadTotal += parseInt($(ctrl).val());
      }
    });
    $("#" + wrapper).find(".workload-total").html(workloadTotal + "h");
    var minWorkload = parseInt( $( $("#" + wrapper).find(".table-min-workload")[0] ).val() );

    // changing the color of table header
    var ctrlTableInfo = $("#" + wrapper).find(".table-info");
    var ctrlTableWorkload = $("#" + wrapper).find(".table-workload");
    if (workloadTotal >= minWorkload) {
      $(ctrlTableInfo).removeClass("danger");
      $(ctrlTableWorkload).removeClass("text-danger");
      $(ctrlTableInfo).addClass("success");
      $(ctrlTableWorkload).addClass("text-success");
    }
    else {
      $(ctrlTableInfo).removeClass("success");
      $(ctrlTableWorkload).removeClass("text-success");
      $(ctrlTableInfo).addClass("danger");
      $(ctrlTableWorkload).addClass("text-danger");
    }
  }

  $("#basic-activities-table").find(".workload-total").html("0h");
  $("#basic-activities-table .external-workload").on("blur", function(){
    blurWorkload("basic-activities-table");    
  });

  $("#professional-activities-table").find(".workload-total").html("0h");
  $("#professional-activities-table .external-workload").on("blur", function(){
    blurWorkload("professional-activities-table");
  });

  $('input.external-workload').keyup(function(e) {
    this.value = this.value.replace(/[^0-9\.]/g,'');
  }); 

