!!!
%html{:lang => "pt-br"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = csrf_meta_tag
    %title UNIVESP / Formulário de Vagas Remanescentes
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css", :rel => "stylesheet"}/
    %link{:href => "https://apps.univesp.br/estagio/assets/stylesheets/ficha.css", :rel => "stylesheet"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    :css
      .green{background-color: #27c24c}
      .red{background-color: #f05050}
      .blue{background-color: #23b7e5}
      .black{background-color: black; color: white;}
      .m-t{margin-top: 10px}
      .mais{margin-top: 40px}
      .m-r{margin-right: 5px}
      .m-l{margin-left: 5px}
      .w{color: #ffffff}
      .none{text-decoration: none !important;}
      .bw2{border: solid gray 2px;}
      .br2{border-right: solid gray 2px !important}
      .bl2{border-left: solid gray 2px !important}
      .image-upload > input
      {
          display: none;
      }

      .image-upload img
      {
          width: 80px;
          cursor: pointer;
      }

      .contact_form input:focus:invalid, .contact_form textarea:focus:invalid { /* when a field is considered invalid by the browser */
        box-shadow: 0 0 5px #d45252;
        border-color: #b03535
      }

      .contact_form input:required:valid, .contact_form textarea:required:valid { /* when a field is considered valid by the browser */
        box-shadow: 0 0 5px #5cd053;
        border-color: #28921f;
      }
  %body{:style => "margin-top: 120px; max-width:970px;"}
    %script{:src => "https://code.jquery.com/jquery-1.10.2.js"}
    %script{:src => "https://code.jquery.com/ui/1.11.3/jquery-ui.js"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    .container{:style => "max-width:970px;"}
      #login-modal{:style => "display:none;"}
        = render 'login_modal'
      .row
        .col-md-12
          / Topo
          .navbar.navbar-default.navbar-fixed-top.container{:style => "background-color:rgba(0,0,0,0.7); color:white; max-width:970px;"}
            .col-sm-12
              %h3
                %i.fa.fa-fw.fa-file-o
                Formulário de Vagas Remanescentes
                %span.label.label-danger.pull-right Prazo: 09/01/2017
          / Formulário
          %form.form-horizontal.contact_form
            %p
              %span{:style => "color:#AF1E23;"} * Campos obrigatórios.
              Certifique-se de preenchê-los todos antes de enviar o formulário.
              /
                a href="pedidosFULL.html" class="btn btn-default pull-right" style="margin-top:-15px;margin-right:-20px;">
                <span class="fa fa-fw fa-reply"></span> Voltar
                </a
            .container.boxes{:style => "max-width:970px;"}
              .well.col-md-8.col-md-offset-2{:style => "margin-top:2em; margin-bottom:2em; padding:2em 2em 1.4em 2em;"}
                %p Prezado(a) condidato(a),
                %p
                  %br>/
                  A inscrição para o Processo Seletivo para preenchimento de vagas remanescentes
                  %b ocorrerá no período de 10h do dia 12/12/2016 até 17h do dia 09/01/2017.
                  %br/
                  Para informações detalhadas sobre o processo seletivo, acesse:
                  %a{:href => "http://www.univesp.br/processos-seletivos/vagas-remanescentes", :target => "_blank"} www.univesp.br/processos-seletivos/vagas-remanescentes
                %p
                  %br/
                  %i Não serão aceitas inscrições por e-mail.
              .form-group
                %label.col-md-4.col-sm-4.control-label.obrigatorio{:for => "according"} De acordo:
                .checkbox.col-sm-5
                  %label
                    %input{:type => "checkbox", :required => ""}/
                    Declaro que li e aceito as condições
                    %br>/
                    da
                    = succeed "." do
                      %a{:href => "https://univesp.br/sites/527174b7b24a527adc000002/assets/568ba9f59caf4d7b3000005b/PORTARIA_UNIVESP_PR_01-2016.pdf", :target => "_blank"} Portaria UNIVESP PR nº 20/2015
              .form-group.mais
                %label.col-md-4.col-sm-4.control-label.obrigatorio{:for => "name"} Nome completo:
                .col-sm-5
                  %input#name.form-control{:type => "text", :style => "text-transform: capitalize;", :required => "", :value => "#{current_user.name if current_user}"}/
              .form-group.mais
                %label.col-md-4.col-sm-4.control-label.obrigatorio{:for => "email"} E-mail:
                .col-sm-5
                  %input#email.form-control{:maxlength => "60", :name => "email", :size => "65", :type => "email", :value => "#{current_user.email if current_user}", :required => ""}/
              .form-group.mais
                %label.col-md-4.col-sm-4.control-label.obrigatorio{:for => "phone"} Telefone:
                .col-sm-3
                  %input#phone.form-control{:maxlength => "15", :name => "phone", :type => "text", :required => ""}/
              .form-group.mais
                %label.col-md-4.col-sm-4.control-label.obrigatorio{:for => "cel"} Celular:
                .col-sm-3
                  %input#cel.form-control{:maxlength => "15", :name => "cel", :onkeyup => "mascara( this, mphone );", :type => "text", :required => ""}/
              .form-group.mais
                %label.col-md-4.col-sm-4.control-label.obrigatorio{:for => ""} CPF:
                .col-sm-3
                  %input#cpf.form-control{:maxlength => "14", :name => "cpf", :required => "", :onblur => "javascript: validarCPF(this.value);", :onkeypress => "javascript: mascara(this, cpf_mask);", :type => "text"}/
              .form-inline.mais
                %label.col-md-4.col-sm-4.control-label.obrigatorio{:for => "date"} Data de nascimento:
                %div
                  %select#birth-day.form-control{:style => "margin-left:10px;"}
                    %option Dia
                    - (1..31).each do |dia|
                      %option #{dia} 
                  %select#birth-month.form-control
                    %option Mês
                    - (1..12).each do |month|
                      %option #{month}
                  %select#birth-year.form-control
                    %option Ano
                    - (1916..2016).sort {|a,b| b <=> a}.each do |dia|
                      %option #{dia} 
              .form-group.mais
                %label.col-md-4.col-sm-4.control-label.obrigatorio{:for => "course"} Curso desejado:
                .col-sm-3
                  %select#course.form-control{:style => "width:90%;"}
                    - @univesp_courses.each do |course|
                      %option{:value => "#{course[:value]}"} #{course[:text]}
              .form-group.mais
                %label.col-md-4.col-sm-4.control-label.obrigatorio{:style => "margin-top:-10px;"} Faça o upload do seu comprovante de pagamento de inscrição ou isenção:
                .image-upload
                  %label.btn.btn-default{:for => "payment_file_1", :style => "margin-left:15px;", :title => "Envie o DIPLOMA caso formado."}
                    %span.fa.fa-dollar.m-r
                    Comprovante de inscrição
              .form-group.mais
                %label.col-md-4.col-sm-4.control-label.obrigatorio{:for => "external-institution"} INSTITUIÇÃO de origem:
                .col-md-6
                  %input#external-institution.form-control{:placeholder => "SIGLA - Nome por extenso (Pode citar mais de uma instituição)", :type => "text"}/
              .form-group.mais
                %label.col-md-4.col-sm-4.control-label.obrigatorio{:for => "external-course"} CURSO:
                .col-md-6
                  %input#external-course.form-control{:placeholder => "Nome por extenso (Você pode citar mais de um curso)", :type => "text"}/
              .form-inline.mais
                %label.col-md-4.col-sm-4.control-label.obrigatorio Situação atual:
                %div
                  %label.radio-inline{:style => "margin-left:10px;"}
                    %input#current-status-1{:name => "current-status", :type => "radio", :value => "0", :checked => "checked"}/
                    Concluído
                  %label.radio-inline
                    %input#current-status-2{:name => "current-status", :type => "radio", :value => "1"}/
                    Cursando
              .form-group.mais
                %label.col-md-4.col-sm-4.control-label.obrigatorio{:for => "documents", :style => "margin-top:-10px;"} Faça o upload dos seus documentos digitalizados:
                .image-upload
                  %label.btn.btn-default{:for => "diploma_file_1", :style => "margin-left:15px;", :title => "Envie o DIPLOMA caso formado."}
                    %span.fa.fa-graduation-cap.m-r
                    Diploma
                  %label.btn.btn-default{:for => "enrollment_file_1", :title => "Envie o ATESTADO DE MATRÍCULA caso estudante."}
                    %span.fa.fa-certificate.m-r
                    Atestado de Matrícula
                  %label.btn.btn-default{:for => "academic-record_file_1", :title => "Envie o HISTÓRICO ESCOLAR contendo as disciplinas cursadas, carga horária, aproveitamento etc."}
                    %span.fa.fa-file-text-o.m-r
                    Histórico Escolar
              .form-group.mais
                #first-class-area{:style => "display:none;"}
                  %label.col-md-4.col-sm-4.control-label.obrigatorio{:for => "first-class-select"} Em qual POLO Univesp deseja estudar ?
                  .col-sm-6
                    #first-class-select.classes-selects
                    %p.help-block
                      %small
                        %b IMPORTANTE:
                        Escolha APENAS UM POLO E UMA TURMA e, se possível, abaixo, uma segunda e até uma terceira opção sempre no mesmo polo;    
              .form-group.mais
                #second-class-area{:style => "display:none;"}
                  %label.col-md-4.col-sm-4.control-label.obrigatorio{:for => "second-class-select", :style => "margin-top:-10px;"}
                    %u> 2ª opção
                    \: Em qual outro período do MESMO POLO Univesp você desejaria estudar ?
                  .col-sm-6
                    #second-class-select.classes-selects
              .form-group.mais
                #third-class-area{:style => "display:none;"}
                  %label.col-md-4.col-sm-4.control-label.obrigatorio{:for => "third-class-select", :style => "margin-top:-12px;"}
                    Qual seria sua
                    %u 3ª opção
                    de período do MESMO POLO Univesp em que você desejaria estudar ?
                  .col-sm-6
                    #third-class-select.classes-selects
              .form-group.mais
                %label.col-md-4.col-sm-4.control-label.obrigatorio{:for => "location-confirm"} Assinale:
                .checkbox.col-sm-6
                  %label
                    %input#location-confirm{:type => "checkbox"}/
                    Declaro que CONFERI a escolha de Polo e turma(s) acima e ASSUMO a responsabilidade no caso de não atendimento de minha opção, por preenchimento incorreto.
              %hr.col-md-12.mais.m-b-lg/
              .well.col-md-8.col-md-offset-2{:style => "margin-top:2em; margin-bottom:50px; padding:2em 2em 1.4em 2em;"}
                %p Antes de prosseguir, leia com atenção:
                %p
                  %br>/
                  1. Para continuar, tenha em mãos os dados do seu curso superior atual ou concluído.
                %p
                  2.
                  %a Baixe as ementas dos cursos UNIVESP
                  e compare com as disciplinas que você cursou na outra Instituição de Ensino.
                %p 3. Preencha os campos abaixo caso julgue que a disciplina que você fez tenha conteúdo compatível à descrição da disciplina da UNIVESP.
                %p
                  4. Lembre-se que há um
                  = succeed "." do
                    %b critério de disciplinas mínimas que você deve atingir para concorrer à vaga preterida
                  %br/
                  %br/

              #basic-activities-table

              #professional-activities-table
              
              .col-sm-6.mais
                %a.btn.btn-lg.blue.m-t.w.pull-left{:href => 'socio'}
                  %span.glyphicon.glyphicon-arrow-left.m-r
                  Retornar ao questionário socioeconômico
              .col-sm-6.mais
                %button#submit.btn.btn-lg.green.m-t.w.pull-right
                  %span.glyphicon.glyphicon-share-alt.m-r
                  Finalizar e enviar formulários
            .container{:style => "border-bottom:4px solid gray;max-width:970px;"}



      / row
    / container    
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}
    %script{:src => "https://apps.univesp.br/estagio/assets/javascripts/jquery.maskedinput.min.js"}
    %script{:src => "https://apps.univesp.br/estagio/assets/javascripts/bootbox.min.js"}
    %script{:src => "https://apps.univesp.br/estagio/assets/javascripts/form.upload.js"}
    %script{:src => "https://apps.univesp.br/estagio/assets/javascripts/form.main.js"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}

    :javascript
      $(function() {

        V.uploader.draw($("label[for=\"payment_file_1\"]"), "payment", 1, 1, 1);
        V.uploader.draw($("label[for=\"diploma_file_1\"]"), "diploma", 1, 1, 1);
        V.uploader.draw($("label[for=\"enrollment_file_1\"]"), "enrollment", 1, 1, 1);
        V.uploader.draw($("label[for=\"academic-record_file_1\"]"), "academic-record", 1, 1, 1);

        $("#course").on("change", function() {
          var courseId = $(this).val();

          $.ajax({
            url: "classes-and-activities-by-course",
            data: { course_id: courseId }
          })
          .done(function (data) {
            console.log("done > data");
            console.log(data);
          })
          .fail(function (jqXHR, textStatus) {
            console.log("course change > fail jqXHR:");
            console.log(jqXHR);
            console.log("course change > fail textStatus:");
            console.log(textStatus);
          });
        });

        $("#submit").on("click", function(e) {
          e.preventDefault();
          var formData = collectValuesFromForm();
          console.log(formData);

          $.ajax({
            url: "save-response",
            type: "POST",
            data: { formData: formData },
            dataType: "json",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))}
          })
          .done(function (data) {
            console.log("done > data");
            console.log(JSON.stringify(data));
          })
          .fail(function (jqXHR, textStatus) {
            console.log("fail > jqXHR:");
            console.log(jqXHR);
            console.log("fail > textStatus:");
            console.log(textStatus);
          });
        });

        $.ajax({
          url: "login"
        })
        .done(function (data) {
          if (data == "nil") {
            $("#login-modal").css("display","block");
          }
        });

      });
