<p id="notice"><%= notice %></p>

<h1>Form Responses</h1>

<table>
  <thead>
    <tr>
      <th>Form</th>
      <th>User</th>
      <th>Status</th>
      <th>Json response</th>
      <th>Json updated at</th>
      <th>Sent at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @form_responses.each do |form_response| %>
      <tr>
        <td><%= form_response.form %></td>
        <td><%= form_response.user %></td>
        <td><%= form_response.status %></td>
        <td><%= form_response.json_response %></td>
        <td><%= form_response.json_updated_at %></td>
        <td><%= form_response.sent_at %></td>
        <td><%= link_to 'Show', form_response %></td>
        <td><%= link_to 'Edit', edit_form_response_path(form_response) %></td>
        <td><%= link_to 'Destroy', form_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Form Response', new_form_response_path %>
